@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px; 
    color: #167699;
}

.input {
    position: absolute;
    width: 626px;
    height: 60px;
    left: 10em;
    top: 30em;
    background: #FFFFFF;
    border-radius: 20px;
    border: 0px;
    left: 80px;
    top: 475px;
    font-size: 20px;
    text-indent: 20px;
    font-weight: 400;
}

.arrow {
    position: absolute;
    width: 7px;
    height: 12px;
    left: 100px;
    top: 559px;
    z-index: 1;
}

.ssibal {
    position: absolute;
    width: 7px;
    height: 12px;
    left: 115px;
    top: 556px;
    z-index: 1;   
}

.input_custom {
    position: absolute;
    width: 626px;
    height: 40px;
    left: 80px;
    top: 545px;

    background: #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    text-indent: 87px;
    font-weight: 400;
    border: 0px;
}

.submit {
    position: absolute;
    width: 150px;
    height: 45px;
    left: 80px;
    top: 600px;

    /* Blue */

    background: #297DFC;
    border-radius: 20px;
    border: 0px;

    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    /* White */
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.alert {
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: rgba(211, 47, 47, 1);
}

.success {
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: lightgreen;
    text-decoration: underline;
}

.success a {
    color: #167699;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: 2px solid #999999;
    border-radius: 30px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 30px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    border: 2px solid #999999;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #167699;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #167699;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

.urltext {
    position: absolute;
    left: 80px;
    top: 435px;

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
/* Dark gray */

color: #333333;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: auto;
    width: 50%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 0;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 20%;
    margin-left: 20px;

}

.span_1_of_3 {
    width: 70%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}
