@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0em;
    padding: 0em;
    max-height: 100%;
    width: auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.ignore {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.bold {
    font-weight: 700;
    letter-spacing: -0.02em;
}

.input::placeholder {
    color:#cdcdcd
}


body {
    background-color: #f7f7f7;
    position: absolute;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    body {
        position:absolute;
    }

    .success {
        position: absolute;
        font-size: 1.25em;
        font-weight:600;
        color:#297DFC;
        margin-left: 10vw;
        top:660px;
        text-decoration: none;
        text-decoration-color: #297DFC;
    }
    
    .error {
        position: absolute;
        font-size: 1.25em;
        font-weight:600;
        color:#fe5151;
        margin-left: 10vw;
        left: 170px;
        top:692px;
    }

    .rightdiv {
        position: absolute;
        width:10vw;
        height:50px;
        margin-left:537px;
        top:0;
    }

    .logo {
        position:absolute;
        top:75px;
        left:10vw;
    }

    h1 {
        position: absolute;
        font-weight: 700;
        font-size:  3em;
        letter-spacing: -0.02em;
    
        color: #333333;
    }

    .warrow {
        z-index: 1;
        position: absolute;
        left: 428px;
        margin-left: 10vw;
        top: 527px;
        width: 16px;
        height: 20px;
        stroke: #ffffff;
    }

    .input {
        position: absolute;
        background: #FFFFFF;
        color: #333333;
        border-radius: 1.25em;
        border: 0em;
        text-indent: 1em;
        font-weight: 500;
        width: 475px;
        margin-left: 10vw;
        margin-right: 10vw;
        height: 75px;
        top: 500px;
        font-size: 1.75em;
    }
    
    .title {
        left: 10vw;
        top: 270px;
        font-size: 3em;
    }

    .inputsmall {
        position: absolute;
        width: 475px;
        height: 50px;
        top: 590px;
        left: 10vw;
        font-size: 1.25em;
        text-indent: 6em;
        text-align: left;
        background: #FFFFFF;
        border-radius: 1.25em;
        font-weight: 500;
        border: 0px;
        color: #333333;
    }
    .inputsmall::placeholder {
        text-indent: 6em;
        text-align: left;
        font-weight: 500;
        color:#cdcdcd
    }

    .arrow {
        position: absolute;
        width: 12px;
        height: 16px;
        margin-left: 10vw;
        left: 27px;
        top: 607px;
        z-index: 1;
    }
    
    .ssibal {
        position: absolute;
        width: 7px;
        height: 12px;
        margin-left: 10vw;
        left: 55px;
        top: 603px;
        font-weight: 500;
        font-size: 1.25em;
        z-index: 1; 
        color:#cdcdcd 
    }

    .submit {
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 10vw;
        top: 507px;
        left: 405px;
    
        background: #297DFC;
        border-radius: 2em;
        border: 0em;
        text-align: center;

        color: #297dfc;
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: -0.75em;
    }

    .urltext {
        position: absolute;
        left: 10vw;
        top: 460px;
    
        font-weight: 600;
        font-size: 1.375em;
        letter-spacing: -0.02em;
        text-align: left;
        color: #333333;
    }

    .infodiv {
        margin-left:10vw;
        margin-top:750px;
    }

    .github {
        position: absolute;
        width: 40px;
        height:40px;
        top:740px;
        margin-left: 10vw;
        left:435px;
    }
}

@media screen and (min-width: 768px) {
body {
    font-size: 16px;
    width: 100vw;
}


h1 {
    position: absolute;
    font-weight: 700;
    font-size:  3.75em;
    letter-spacing: -0.02em;

    color: #333333;
}

.input {
    position: absolute;
    background: #FFFFFF;
    color: #333333;
    border-radius: 1.25em;
    border: 0em;
    text-indent: 1.25em;
    font-weight: 400;
    width: 600px;
    left: 15vw;
    right: 80px;
    height: 60px;
    top: 555px;
    font-size: 1.25em;
}

.inputsmall {
    position: absolute;
    width: 600px;
    height: 41px;
    top: 627px;
    left: 15vw;
    font-size: 1em;
    text-indent: 5.85em;
    text-align: left;
    background: #FFFFFF;
    border-radius: 1.25em;
    border: 0px;
    color: #333333;
}

.inputsmall::placeholder {
    text-indent: 5.85em;
    text-align: left;
    color:#cdcdcd
}

.arrow {
    position: absolute;
    width: 7px;
    height: 12px;
    margin-left: 15vw;
    left:25px;
    top: 642px;
    z-index: 1;
}

.ssibal {
    position: absolute;
    width: 7px;
    height: 12px;
    margin-left: 15vw;
    left: 43px;
    top: 638px;
    z-index: 1; 
    color:#cdcdcd 
}

.submit {
    position: absolute;
    width: 150px;
    height: 47px;
    left: 15vw;
    top: 681px;

    /* Blue */

    background: #297DFC;
    border-radius: 1.25em;
    border: 0em;

    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    /* White */
    color: #FFFFFF;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.logo {
    position:absolute;
    top:100px;
    left:15vw;
}

.warrow {
    opacity: 0;
    z-index: 2;
}

.submitarrow {
    opacity: 0;
}

.urltext {
    position: absolute;
    left: 15vw;
    top: 510px;

    font-weight: 600;
    font-size: 1.375em;
    letter-spacing: -0.02em;
    text-align: left;
    color: #333333;
}

.title {
    left: 15vw;
    top: 290px;
}

.infodiv {
    margin-left:15vw;
    margin-top:800px;
}

.github {
    position: absolute;
    width: 40px;
    height:40px;
    top:810px;
    right: 15vw;
}

.success {
    position: absolute;
    font-size: 1.25em;
    font-weight:600;
    color:#297DFC;
    margin-left: 15vw;
    left: 170px;
    top:692px;
    text-decoration: none;
    text-decoration-color: #297DFC;
}

.error {
    position: absolute;
    font-size: 1.25em;
    font-weight:600;
    color:#fe5151;
    margin-left: 15vw;
    left: 170px;
    top:692px;
}

}