@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://unpkg.com/pageable@latest/dist/pageable.min.css');

:root {
    --white : #ffffff;
    --gray1 : #f2f4f8;
    --gray2 : #cad2df;
    --sgray2 : #cad2df;
    --gray3 : #a9b2c0;
    --gray4 : #9098a4;
    --gray5 : #767b83;
    --igray6 : #52565b;
    --gray6 : #52565b;
    --gray7 : #303137;
    --pgray7 : #ffffff;

    --hbrand : #D5E5FE;
    --brand1 : #D5E5FE;
    --brand2 : #AACBFE;
    --brand3 : #94BEFE;
    --brand4 : #69A4FD;
    --brand5 : #5397FD;
    --brand6 : #297DFC;
}

html {
    scroll-snap-type:y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: 600;
    letter-spacing: -0.02em;
}

* {
    transition: background-color 0.3s;
    margin: 0em;
    padding: 0em;
    max-height: 100%;
    letter-spacing: -0.02em;
    width: auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    position: absolute;
    white-space: nowrap;
    background-color: var(--gray1);
}

::placeholder {
    color: var(--gray3);
}

.draggable {
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -o-user-select: all;
    user-select: all;
}

#scrollSection {
    height: 200vh;
}

#wrapper {
    width: 100vw;
    height: auto;
}

#restrictionInfo {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(242,244,248,0.5);
    opacity: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition : opacity 0.3s;
}

.pointer {
    cursor: pointer;
}

.disable {
    display: none;
}

#shortenResult {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--white);
    border: 1px solid var(--sgray2);
    animation: slider 0.5s;
    z-index: 5;
}

#resultImage {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    z-index: 1;
}

#resultLinkSuccess {
    position: absolute;
    top: 35%;
    transform: translate(0, -35%);
    color: var(--brand6);
    font-weight: 600;
    text-decoration-line: none;
}

#resultLinkFailed {
    position: absolute;
    top: 35%;
    transform: translate(0, -35%);
    color: #FF6767;
    font-weight: 600;
}

#resultText {
    position: absolute;
    top: 65%;
    transform: translate(0, -65%);
    color: var(--gray7);
    font-weight: 400;
}

#restrictionBackground {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    z-index: 3;
    border: 1px solid var(--sgray2);
}

.restrictionTitle {
    font-weight: 600;
    color: var(--gray7);
}

.restrictionText {
    font-weight: 400;
    color: var(--gray7);
}

#restClose {
    position: absolute;
    border: none;
    background-color: var(--brand6);
    color: var(--gray1);
}

#restText {
    font-weight: 600;
    color: var(--pgray7);
}

.restrictionTextGray {
    font-weight: 400;
    color: var(--gray3);
}

#scrollSection1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#scrollSection2 {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
}

#header {
    position: fixed;
    z-index: 1;
}

.title {
    text-align: center;
    color: var(--gray7);
}

#originalURL {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#input {
    background-color: var(--white);
    color: var(--gray7);
    font-weight: 400;
    border: 1px solid var(--sgray2);
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
    transition: background-color 0.3s;
}

#input:focus {
    outline: 2px solid var(--brand6);
}

#shortenURL {
    margin-left: auto;
    margin-right: auto;
}

#custom {
    background-color: var(--white);
    color: var(--gray7);
    font-weight: 400;
    border: 1px solid var(--sgray2);
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
    transition: background-color 0.3s;
}

#custom:focus {
    outline: 2px solid var(--brand6);
}

.submit {
    background-color: var(--brand6);
    color: var(--pgray7);
    border: 1px solid var(--sgray2);
    font-weight: 600;
    text-align: center;
    cursor : pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: var(--brand4);
}

#uniqueCodePlaceholder {
    position: absolute;
    font-weight: 400;
    color: var(--gray3);
}

#restriction {
    border: 0px;
    background-color: var(--gray4);
    transition: background-color 0.3s;
}

#restriction:hover {
    background-color: var(--gray5);
}

#warningText {
    position: absolute;
    display: table;
    top: 17.5px;
    left: 46px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--pgray7);    
}

#scrollDownIcon {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
}

#scrollDownText {
    margin-top: 7px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--gray5);
}

.footerText {
    font-weight: 400;
    color: var(--gray3);
}

.footerBoldText {
    font-weight: 500;
    color: var(--gray5);
}

#scrollUp {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    position: absolute;
}

#scrollUpIcon {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
}

#scrollUpText {
    margin-top: 7px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--gray5);
}

#secondTitle {
    color: var(--gray7);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

#upperBlocks {
    float: left;
    position: relative;
    background-color: var(--white);
    transition: background-color 0.3s;
    box-shadow: 0 0 0 1px var(--sgray2);

}

#upperBlocks:hover {
    background-color: var(--hbrand);
}

#upperBlocksNotActivated {
    float: left;
    position: relative;
    transition: background-color 0.3s;
    background-color: var(--gray2);
}

#bottomBlock {
    margin-left: auto;
    margin-right: auto;
}

#bottomBlocks {
    float: left;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 0 1px var(--sgray2);
    background-color: var(--white);
}

#bottomBlocks:hover {
    background-color: var(--hbrand);
}

.svgFillWhite {
    fill: var(--gray7);
}

.svgFillc1 {
    fill: var(--brand4);
}

.svgFillc2 {
    fill: var(--brand6);
}

.svgStrkc1 {
    stroke: var(--brand5);
}

@media screen and (min-width: 1025px) { /* for desktop and PC */
    .section {
        scroll-snap-align:center;
        scroll-snap-stop:always;
    }

    #shortenResult {
        top: 50px;
        width: 500px;
        height: 100px;
        border-radius: 20px;
    }

    #resultImage {
        left: 40px;
        width: 55px;
        height: 55px;
    }

    #resultLinkSuccess {
        margin-left: 115px;
        font-size: 1.5rem;
    }

    #resultLinkFailed {
        margin-left: 115px;
        font-size: 1.5rem;
    }

    #resultText {
        margin-left: 115px;
        font-size: 1.125rem;
    }

    #restrictionBackground {
        width: 800px;
        height: 400px;
        border-radius: 20px;
    }

    .restrictionTitle {
        margin-left: 50px;
        margin-top: 50px;
        font-size: 1.5rem;
    }

    .restrictionText {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    #restClose {
        margin-left: 625px;
        margin-top: -40px;
        width: 125px;
        height: 45px;
        border-radius: 15px;
    }

    #restText {
        font-size: 1.125rem;
    }

    .restrictionTextGray {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    #header {
        margin-left: 5vw;
        width: 90vw;
        height: 100px;
    }

    #logo {
        position: fixed;
        z-index: 1;
        margin-top: 50px;
        height: 50px;
    }

    #toggleThemeDark {
        position: fixed;
        width: 45px;
        height: 45px;
        top: 55px;
        right: 5vw;
        z-index: 5;
    }

    #toggleThemeLight {
        position: fixed;
        width: 45px;
        height: 45px;
        top: 55px;
        right: 5vw;
        z-index: 5;
    }
    
    #title {
        margin-top: 27.5vh;
    }

    .title {
        font-size: 4rem;
    }

    #originalURL {
        margin-top: 70px;
    }

    #input {
        width: 800px;
        height: 65px;
        border-radius: 20px;
        font-size: 1.5rem;
        text-indent: 30px;
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
    }

    #uniqueCode {
        float: left;
    }
    
    #submit {
        margin-left: 20px;
        float: left;
    }
    
    #custom {
        width: 590px;
        height: 62px;
        border-radius: 20px;
        font-size: 1.5rem;
        text-indent: 102.5px;
    }

    .submit {
        width: 190px;
        height: 62px;
        border-radius: 20px;
        font-size: 1.5rem;
    }

    #uniqueCodePlaceholder {
        margin-top: 17.5px;
        font-size: 1.5rem;
        text-indent: 32px;
    }

    #restriction {
        z-index: 1;
        position: absolute;
        top: 87.5vh;
        left: 5vw;
        width: 290px;
        height: 55px;
        border-radius: 20px;
    }

    #warning {
        position: absolute;
        left: 19px;
        top: 18px;
        width: 19px;
        height: 19px;
        cursor : pointer;
    }

    #warningText {
        cursor : pointer;
    }

    #scrollDown {
        z-index: 0;
        top: 87vh;
        width: 100vw;
        position: absolute;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #bFooter {
        position: absolute;
        top: 88vh;
        left: 5vw;
        background-color: var(--gray1);
    }

    .footerText {
        font-size: 0.875rem;
    }

    .footerBoldText {
        font-size: 0.875rem;
    }

    /* ScrollSection 2 */

    #scrollUp {
        top: 5vh;
        display: table;
    }

    #secondTitle {
        margin-top: 27.5vh;
        font-size: 2rem;
    }

    #upperBlock {
        position: relative;
        margin-top: 50px;
        width: 800px;
        height: 170px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 30px;
    }

    #upperBlocks {
        width: 170px;
        height: 170px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #upperBlocksNotActivated {
        width: 170px;
        height: 170px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #upperBlock1Icon {
        position: absolute;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upperBlock2Icon {
        display: none;
        visibility: hidden;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upperBlock3Icon {
        position: absolute;
        visibility: hidden;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upperBlock4Icon {
        position: absolute;
        visibility: hidden;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #upperBlockText {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--brand6);
    }

    #upperBlocksTextNotActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray5);
    }

    #bottomBlock {
        position: relative;
        margin-top: 30px;
        width: 800px;
        height: 90px;
        padding-right: 30px;
    }

    #bottomBlocks {
        width: 370px;
        height: 80px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #bottomBlock1Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 43.5px;
        fill: var(--igray6);
    }

    #bottom1SmallText {
        margin-left: 93.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        margin-left: 93.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray7);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 49.5px;
        fill: var(--igray6);
    }

    #bottom2SmallText {
        margin-left: 104.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom2Text {
        margin-left: 104.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray7);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  /* for tablet */
    .section {
        scroll-snap-align:center;
        scroll-snap-stop:always;
    }

    #shortenResult {
        top: 50px;
        transform: translate(-50%, 0);
        width: 400px;
        height: 90px;
        border-radius: 20px;
    }

    #resultImage {
        left: 30px;
        width: 50px;
        height: 50px;
    }

    #resultLinkSuccess {
        margin-left: 95px;
        font-size: 1.25rem;
    }

    #resultLinkFailed {
        margin-left: 95px;
        font-size: 1.25rem;
    }

    #resultText {
        margin-left: 95px;
        font-size: 1rem;
    }

    #restrictionBackground {
        width: 80vw;
        height: 400px;
        border-radius: 20px;
    }

    .restrictionTitle {
        margin-left: 50px;
        margin-top: 50px;
        font-size: 1.375rem;
    }

    .restrictionText {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.125rem;
        line-height: 2.25rem;
    }

    #restClose {
        right: 50px;
        margin-top: -40px;
        width: 110px;
        height: 40px;
        border-radius: 15px;
    }

    #restText {
        font-size: 1rem;
    }

    .restrictionTextGray {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    #header {
        margin-left: 7vw;
        width: 90vw;
        height: 100px;
    }

    .logo {
        position: fixed;
        z-index: 8;
        margin-top: 7vh;
        height: 6vw;
        max-height: 50px;
    }

    #toggleThemeLight {
        position: fixed;
        height: 5vw;
        max-height: 60px;
        top: 7.5vh;
        right: 5vw;
        z-index: 5;
    }

    #toggleThemeDark {
        position: fixed;
        height: 5vw;
        max-height: 60px;
        top: 7.5vh;
        right: 5vw;
        z-index: 5;
    }

    #title {
        margin-top: 25vh;
    }

    .title {
        font-size: 6.25vw;
    }

    #originalURL {
        margin-top: 6.85vw;
    }

    #input {
        width: 80vw;
        max-width: 800px;
        height: 10vw;
        max-height: 65px;
        border-radius: 20px;
        font-size: 1.5rem;
        text-indent: 30px;
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
    }

    #uniqueCode {
        float: left;
    }

    #submit {
        margin-left: 2vw;
        float: left;
    }

    #custom {
        width: 59vw;
        max-width: 590px;
        height: 10vw;
        max-height: 62px;
        border-radius: 20px;
        font-size: 1.4rem;
        text-indent: 94.5px;
    }

    .submit {
        width: 19vw;
        max-width: 190px;
        height: 10vw;
        max-height: 62px;
        border-radius: 20px;
        font-size: 1.4rem;
    }

    #uniqueCodePlaceholder {
        margin-top: 19.25px;
        font-size: 1.4rem;
        text-indent: 30px;
    }

    #restriction {
        position: absolute;
        top: 65vh;
        margin-top: 15vw;
        left: 7vw;
        width: 290px;
        height: 55px;
        border-radius: 20px;
    }

    #warning {
        position: absolute;
        left: 19px;
        top: 18px;
        width: 19px;
        height: 19px;
    }

    #scrollDown {
        position: absolute;
        right: 10vw;
        top: 65.5vh;
        margin-top: 15vw;
    }

    /* ScrollSection2 */

    #scrollUp {
        top: 7vh;
        display: table;
    }

    #secondTitle {
        margin-top: 27.5vh;
        font-size: 2rem;
    }

    #upperBlock {
        position: relative;
        margin-top: 50px;
        width: 800px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
    }

    #upperBlocks {
        width: 150px;
        height: 150px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #upperBlock1Icon {
        position: absolute;
        top: 47.5%;
        left: 45%;
        transform: translate(-40%, -40%);
    }
    #upperBlock2Icon {
        position: absolute;
        visibility: hidden;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }
    #upperBlock3Icon {
        position: absolute;
        visibility: hidden;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }
    #upperBlock4Icon {
        position: absolute;
        visibility: hidden;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }

    #upperBlockText {
        position: absolute;
        top: 80%;
        left: 45%;
        transform: translate(-40%, -40%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--brand6);
    }

    #upperBlocksNotActivated {
        width: 150px;
        height: 150px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #upperBlocksTextNotActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray5);
    }

    #bottomBlock {
        position: relative;
        margin-top: 30px;
        width: 800px;
        height: 90px;
        padding-left: 40px;
    }

    #bottomBlocks {
        width: 330px;
        height: 80px;
        margin-left: 30px;
        border-radius: 20px;
    }

    #bottomBlock1Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 25px;
        fill: var(--igray6);
    }

    #bottom1SmallText {
        margin-left: 77.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        margin-left: 77.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray7);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 33px;
        fill: var(--igray6);
    }

    #bottom2SmallText {
        margin-left: 88.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom2Text {
        margin-left: 88.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray7);
    }

    #bFooter {
        position: absolute;
        top: 88vh;
        left: 5vw;
        background-color: var(--gray1);
    }

    .footerText {
        font-size: 0.75rem;
    }

    .footerBoldText {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 767px) { /* for mobile */

    #shortenResult {
        top: 5vh;
        width: 90vw;
        height: 20vw;
        border-radius: 15px;
    }

    #resultImage {
        left: 7vw;
        width: 10vw;
        height: 10vw;
    }

    #resultLinkSuccess {
        margin-left: 21vw;
        width: 60vw;
        overflow: hidden;
        font-size: 5vw;
    }

    #resultLinkFailed {
        margin-left: 21vw;
        font-size: 5vw;
    }

    #resultText {
        margin-left: 21vw;
        font-size: 3.5vw;
    }

    #restrictionBackground {
        width: 80vw;
        height: 60vh;
        border-radius: 15px;
    }

    .restrictionTitle {
        margin-left: 5vw;
        margin-top: 5vw;
        font-size: 4vw;
    }

    #restrictionTexts {
        margin-top: 2.5vw;
        width: 80vw;
        height: 35vh;
        overflow:scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    #restrictionTexts::-webkit-scrollbar {
        display: none;
    }

    .restrictionText {
        margin-left: 5vw;
        margin-top: 5vw;
        font-size: 3vw;
        line-height: 5vw;
    }

    #restClose {
        bottom: 3.5vw;
        margin-left: 5vw;
        width: 70vw;
        height: 40px;
        border-radius: 10px;
    }

    #restText {
        font-size: 1rem;
    }

    .restrictionTextGray {
        margin-left: 5vw;
        margin-top: 5vw;
        font-size: 3vw;
        line-height: 4vw;
    }

    #scrollSection {
        height: 310vw;
        width: 100vw;
    }

    #header {
        width: 100vw;
        height: 15vw;
        background-color: var(--gray1);
    }

    .logo {
        position: fixed;
        z-index: 8;
        margin-left: 5vw;
        margin-top: 7vw;
        height: 7vw;
        max-height: 46px;
    }

    #toggleThemeDark {
        position: fixed;
        height: 7vw;
        max-height: 46px;
        top: 7vw;
        right: 5vw;
        z-index: 5;
    }

    #toggleThemeLight {
        position: fixed;
        height: 7vw;
        max-height: 46px;
        top: 7vw;
        right: 5vw;
        z-index: 5;
    }

    #title {
        margin-top: 40vw;
    }

    .title {
        font-size: 9vw;
    }

    #originalURL {
        margin-top: 15vw;
    }

    #input {
        width: 90vw;
        max-width: 800px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        border-radius: 15px;
        font-size: 1.125rem;
        text-indent: 20px;
    }

    #shortenURL {
        margin-top: 2.5vw;
    }

    #uniqueCode {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #submit {
        margin-top: 2.5vw;
    }

    #custom {
        width: 90vw;
        max-width: 800px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        border-radius: 15px;
        font-size: 1.125rem;
        text-indent: 74px;
    }

    .submit {
        margin-left: 5vw;
        width: 35vw;
        max-width: 175px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        border-radius: 15px;
        font-size: 1.25rem;
    }

    #uniqueCodePlaceholder {
        margin-top: 1px;
        display: flex;
        align-items: center;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        text-align: center;
        font-size: 1.125rem;
        text-indent: 21px;
    }

    #scrollDown {
        display: none;
        margin-left: auto;
        margin-right: auto;
        top: 65.5vh;
        margin-top: 15vw;
    }

    #restriction {
        position: relative;
        top: 2vw;
        margin-left: 5vw;
        width: 13vw;
        min-width: 40px;
        max-width: 55px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        border-radius: 15px;
    }

    #warning {
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    #warningText {
        display: none;
    }

    /* ScrollSection2 */

    #scrollUp {
        top: 10vh;
        display: none;
    }

    #secondTitle {
        margin-top: 200px;
        font-size: 5vw;
    }

    #upperBlock {
        margin-top: 5vw;
        margin-left: 10.5vw;
        position: relative;
        display: table;
    }

    #upperBlocks {
        width: 32vw;
        height: 32vw;
        margin-left: 5vw;
        margin-top: 5vw;
        border-radius: 15px;
    }

    #upperBlock1Icon {
        position: absolute;
        top: 8.25vw;
        left: 8.25vw;
        right: 8.25vw;
        width: 15vw;
        height: 17.5vw;
    }
    #upperBlock2Icon {
        position: absolute;
        visibility: hidden;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }
    #upperBlock3Icon {
        position: absolute;
        visibility: hidden;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }
    #upperBlock4Icon {
        position: absolute;
        visibility: hidden;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }

    #upperBlockText {
        position: absolute;
        top: 22.5vw;
        font-size: 4vw;
        font-weight: 500;
        width: 32vw;
        text-align: center;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 22.5vw;
        font-size: 4vw;
        font-weight: 500;
        width: 32vw;
        text-align: center;
        color: var(--brand6);
    }

    #upperBlocksNotActivated {
        width: 32vw;
        height: 32vw;
        margin-left: 5vw;
        margin-top: 5vw;
        border-radius: 15px;
    }

    #upperBlocksTextNotActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        font-weight: 500;
        color: var(--gray5);
    }

    #bottomBlock {
        width: 69vw;
        height: 38vw;
    }

    #bottomBlocks {
        width: 69vw;
        height: 15vw;
        margin-top: 4vw;
        border-radius: 15px;
    }

    #bottomBlock1Icon {
        position: relative;
        width: 7.5vw;
        height: 7.5vw;
        margin-top: 3.75vw;
        margin-left: 7vw;
        fill: var(--igray6);
    }
    #bottom1SmallText {
        position: absolute;
        margin-left: 17vw;
        margin-top: -8.5vw;
        font-size: 3vw;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        position: absolute;
        margin-top: -5.25vw;
        margin-left: 17vw;
        font-size: 4.25vw;
        font-weight: 600;
        color: var(--gray7);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 7.5vw;
        height: 7.5vw;
        margin-top: 3.75vw;
        margin-left: 7vw;
        fill: var(--igray6);
    }
    #bottom2SmallText {
        position: absolute;
        margin-left: 17vw;
        margin-top: -8.5vw;
        font-size: 3vw;
        font-weight: 500;
        color: var(--gray3);
    }
    #bottom2Text {
        position: absolute;
        margin-top: -5.25vw;
        margin-left: 17vw;
        font-size: 4.25vw;
        font-weight: 600;
        color: var(--gray7);
    }

    #bFooter {
        position: absolute;
        margin-top: 30vw;
        padding-bottom: 10px;
        left: 5vw;
    }

    .footerText {
        font-size: 0.625rem;
    }

    .footerBoldText {
        font-size: 0.625rem;
    }
}