@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://unpkg.com/pageable@latest/dist/pageable.min.css');

:root {
    --gray1 : #f2f4f8;
    --gray2 : #cad2df;
    --gray3 : #a9b2c0;
    --gray4 : #9098a4;
    --gray5 : #767b83;
    --gray6 : #52565b;
    --gray7 : #303137;

    --brand1 : #D5E5FE;
    --brand2 : #AACBFE;
    --brand3 : #94BEFE;
    --brand4 : #69A4FD;
    --brand5 : #5397FD;
    --brand6 : #297DFC;
}

html {
    scroll-snap-type:y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: 600;
    letter-spacing: -0.02em;
}

* {
    margin: 0em;
    padding: 0em;
    max-height: 100%;
    letter-spacing: -0.02em;
    width: auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    position: absolute;
    white-space: nowrap;
    background-color: var(--gray1);
}

::placeholder {
    color: var(--gray3);
}

.draggable {
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -o-user-select: all;
    user-select: all;
}

#scrollSection {
    height: 200vh;
}



#wrapper {
    width: 100vw;
    height: auto;
}

#restrictionInfo {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(242,244,248,0.5);
    opacity: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition : opacity 0.3s;
}

@media screen and (min-width: 1025px) { /* for desktop and PC */

    #restrictionBackground {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 400px;
        background-color: rgba(255,255,255,1);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        z-index: 3;
        border-radius: 20px;
    }

    .restrictionTitle {
        margin-left: 50px;
        margin-top: 50px;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--gray6);
    }

    .restrictionText {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2.25rem;
        color: var(--gray6);
    }

    #restClose {
        position: absolute;
        margin-left: 625px;
        margin-top: -40px;
        width: 125px;
        height: 45px;
        border: none;
        border-radius: 15px;
        background-color: var(--brand6);
        color: var(--gray1);
        cursor: pointer;
    }

    #restText {
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--gray1);
    }

    .restrictionTextGray {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: var(--gray3);
    }

    .section {
        scroll-snap-align:center;
        scroll-snap-stop:always;
    }
    
    #scrollSection1 {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    
    #scrollSection2 {
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;
    }

    #header {
        position: fixed;
        z-index: 1;
        margin-left: 5vw;
        width: 90vw;
        height: 100px;
    }

    #logo {
        position: fixed;
        z-index: 1;
        margin-top: 50px;
        height: 50px;
    }
    
    #title {
        margin-top: 27.5vh;
    }

    .title {
        text-align: center;
        color: var(--gray7);
        font-size: 4rem;
    }

    #originalURL {
        margin-top: 70px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #input {
        width: 800px;
        height: 65px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 30px;
        border: 1px solid var(--gray2);
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #uniqueCode {
        float: left;
    }
    
    #submit {
        margin-left: 20px;
        float: left;
    }
    
    #custom {
        width: 590px;
        height: 62px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 105px;
        border: 1px solid var(--gray2);
    }

    .submit {
        width: 190px;
        height: 62px;
        background-color: var(--brand6);
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        font-size: 1.5rem;
        border: 1px solid var(--gray2);
        cursor : pointer;
    }

    #uniqueCodePlaceholder {
        position: absolute;
        margin-top: 17.5px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 31px;
        color: var(--gray3);
    }

    #restriction {
        z-index: 1;
        position: absolute;
        top: 87.5vh;
        left: 5vw;
        width: 300px;
        height: 55px;
        border-radius: 20px;
        border: 0px;
        background-color: var(--gray4);
        cursor : pointer;
    }

    #warning {
        position: absolute;
        left: 20px;
        top: 18px;
        width: 19px;
        height: 19px;
        cursor : pointer;
    }

    #warningText {
        position: absolute;
        display: table;
        top: 17.5px;
        left: 47px;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        cursor : pointer;
    }

    #scrollDown {
        z-index: 0;
        top: 87vh;
        width: 100vw;
        position: absolute;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #scrollDownIcon {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 25px;
        height: 25px;
    }

    #scrollDownText {
        margin-top: 7px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--gray5);
    }

    #bFooter {
        position: absolute;
        top: 88vh;
        left: 5vw;
        background-color: var(--gray1);
    }

    .footerText {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--gray3);
    }

    .footerBoldText {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray4);
    }

    /* ScrollSection 2 */

    #scrollUp {
        top: 5vh;
        width: 100vw;
        position: absolute;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #scrollUpIcon {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }

    #scrollUpText {
        margin-top: 7px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--gray5);
    }

    #secondTitle {
        margin-top: 27.5vh;
        font-weight: 700;
        font-size: 2rem;
        color: var(--gray7);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #upperBlock {
        position: relative;
        margin-top: 50px;
        width: 800px;
        height: 170px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 30px;
    }

    #upperBlocks {
        float: left;
        position: relative;
        width: 170px;
        height: 170px;
        margin-left: 30px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #upperBlocks:hover {
        background-color: var(--brand1);
    }

    #upperBlock1Icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #upperBlock2Icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #upperBlock3Icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #upperBlock4Icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #upperBlockText {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--brand6);
    }

    #bottomBlock {
        position: relative;
        margin-top: 30px;
        width: 800px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 30px;
    }

    #bottomBlocks {
        float: left;
        position: relative;
        width: 370px;
        height: 80px;
        margin-left: 30px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #bottomBlocks:hover {
        background-color: var(--brand1);
    }

    #bottomBlock1Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 43.5px;
    }

    #bottom1SmallText {
        margin-left: 93.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        margin-left: 93.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray6);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 49.5px;
    }

    #bottom2SmallText {
        margin-left: 104.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom2Text {
        margin-left: 104.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray6);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  /* for tablet */
    #restrictionBackground {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 40vh;
        background-color: rgba(255,255,255,1);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        z-index: 3;
        border-radius: 20px;
    }

    .section {
        scroll-snap-align:center;
        scroll-snap-stop:always;
    }
    
    #scrollSection1 {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    
    #scrollSection2 {
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;
    }

    #header {
        position: fixed;
        z-index: 1;
        margin-left: 7vw;
        width: 90vw;
        height: 100px;
    }

    .logo {
        position: fixed;
        z-index: 1;
        margin-top: 7vh;
        height: 6vw;
        max-height: 50px;
    }

    #title {
        margin-top: 25vh;
    }

    .title {
        text-align: center;
        color: var(--gray7);
        font-size: 6.25vw;
    }

    #originalURL {
        margin-top: 6.85vw;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #input {
        width: 80vw;
        max-width: 800px;
        height: 10vw;
        max-height: 65px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 30px;
        border: 1px solid var(--gray2);
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #uniqueCode {
        float: left;
    }

    #submit {
        margin-left: 2vw;
        float: left;
    }

    #custom {
        width: 59vw;
        max-width: 590px;
        height: 10vw;
        max-height: 62px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: 400;
        text-indent: 100.5px;
        border: 1px solid var(--gray2);
    }

    .submit {
        width: 19vw;
        max-width: 190px;
        height: 10vw;
        max-height: 62px;
        background-color: var(--brand6);
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        font-size: 1.4rem;
        border: 1px solid var(--gray2);
        cursor : pointer;
    }

    #uniqueCodePlaceholder {
        position: absolute;
        margin-top: 19.25px;
        font-size: 1.4rem;
        font-weight: 400;
        text-indent: 32px;
        color: var(--gray3);
    }

    #restriction {
        position: absolute;
        top: 65vh;
        margin-top: 15vw;
        left: 7vw;
        width: 300px;
        height: 55px;
        border-radius: 20px;
        border: 0px;
        background-color: var(--gray4);
        cursor : pointer;
    }

    #warning {
        position: absolute;
        left: 20px;
        top: 18px;
        width: 19px;
        height: 19px;
    }

    #warningText {
        position: absolute;
        display: table;
        top: 17.5px;
        left: 47px;
        font-size: 1rem;
        font-weight: 600;
        color: white;
    }

    #scrollDown {
        position: absolute;
        right: 10vw;
        top: 65.5vh;
        margin-top: 15vw;
    }

    #scrollDownIcon {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 25px;
        height: 25px;
    }

    #scrollDownText {
        margin-top: 7px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        font-size: 1.125ream;
        color: var(--gray5);
    }

    /* ScrollSection2 */

    #scrollUp {
        top: 7vh;
        width: 100vw;
        position: absolute;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #scrollUpIcon {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }

    #scrollUpText {
        margin-top: 7px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--gray5);
    }

    #secondTitle {
        margin-top: 27.5vh;
        font-weight: 700;
        font-size: 2rem;
        color: var(--gray7);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #upperBlock {
        position: relative;
        margin-top: 50px;
        width: 800px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
    }

    #upperBlocks {
        float: left;
        position: relative;
        width: 150px;
        height: 150px;
        margin-left: 30px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #upperBlocks:hover {
        background-color: var(--brand1);
    }

    #upperBlock1Icon {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }

    #upperBlock2Icon {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }

    #upperBlock3Icon {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }

    #upperBlock4Icon {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }

    #upperBlockText {
        position: absolute;
        top: 80%;
        left: 45%;
        transform: translate(-40%, -40%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--brand6);
    }

    #bottomBlock {
        position: relative;
        margin-top: 30px;
        width: 800px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
    }

    #bottomBlocks {
        float: left;
        position: relative;
        width: 330px;
        height: 80px;
        margin-left: 30px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #bottomBlocks:hover {
        background-color: var(--brand1);
    }

    #bottomBlock1Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 25px;
    }

    #bottom1SmallText {
        margin-left: 77.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        margin-left: 77.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray6);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 33px;
    }

    #bottom2SmallText {
        margin-left: 88.5px;
        margin-top: -43.5px;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom2Text {
        margin-left: 88.5px;
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--gray6);
    }

    #bFooter {
        position: absolute;
        top: 88vh;
        left: 5vw;
        background-color: var(--gray1);
    }

    .footerText {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--gray3);
    }

    .footerBoldText {
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--gray4);
    }
}

@media screen and (max-width: 767px) { /* for mobile */

    #restrictionBackground {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 70vh;
        background-color: rgba(255,255,255,1);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        z-index: 3;
        border-radius: 20px;
    }

    #scrollSection {
        height: 310vw;
        width: 100vw;
    }

    #header {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 15vw;
        background-color: var(--gray1);
    }

    .logo {
        position: fixed;
        z-index: 1;
        margin-left: 5vw;
        margin-top: 7vw;
        height: 7vw;
        max-height: 46px;
    }

    #title {
        margin-top: 40vw;
    }

    .title {
        text-align: center;
        color: var(--gray7);
        font-size: 9vw;
    }

    #originalURL {
        margin-top: 15vw;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #input {
        width: 90vw;
        max-width: 800px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        background-color: white;
        color: var(--gray7);
        border-radius: 15px;
        font-size: 1.125rem;
        font-weight: 400;
        text-indent: 20px;
        border: 1px solid var(--gray2);
    }

    #shortenURL {
        margin-top: 2.5vw;
        margin-left: auto;
        margin-right: auto;
    }

    #uniqueCode {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #submit {
        margin-top: 2.5vw;
    }

    #custom {
        width: 90vw;
        max-width: 800px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        background-color: white;
        color: var(--gray7);
        border-radius: 15px;
        font-size: 1.125rem;
        font-weight: 400;
        text-indent: 76.5px;
        border: 1px solid var(--gray2);
    }

    .submit {
        margin-left: 5vw;
        width: 35vw;
        max-width: 175px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        background-color: var(--brand6);
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 15px;
        font-size: 1.25rem;
        border: 1px solid var(--brand6);
        cursor : pointer;
    }

    #uniqueCodePlaceholder {
        position: absolute;
        margin-top: 1px;
        display: flex;
        align-items: center;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 400;
        text-indent: 21px;
        color: var(--gray3);
    }

    #scrollDown {
        display: none;
        margin-left: auto;
        margin-right: auto;
        top: 65.5vh;
        margin-top: 15vw;
    }

    #restriction {
        position: relative;
        top: 2vw;
        margin-left: 5vw;
        width: 13vw;
        min-width: 40px;
        max-width: 55px;
        height: 13vw;
        min-height: 40px;
        max-height: 55px;
        border-radius: 15px;
        border: 0px;
        background-color: var(--gray4);
        cursor : pointer;
    }

    #warning {
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    #warningText {
        display: none;
    }

    /* ScrollSection2 */

    #scrollUp {
        top: 10vh;
        width: 100vw;
        position: absolute;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }

    #secondTitle {
        margin-top: 200px;
        font-weight: 700;
        font-size: 5vw;
        color: var(--gray7);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #upperBlock {
        margin-top: 5vw;
        margin-left: 10.5vw;
        position: relative;
        display: table;
    }

    #upperBlocks {
        float: left;
        position: relative;
        width: 32vw;
        height: 32vw;
        margin-left: 5vw;
        margin-top: 5vw;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s;
    }

    #upperBlocks:hover {
        background-color: var(--brand1);
    }

    #upperBlock1Icon {
        position: absolute;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }
    #upperBlock2Icon {
        position: absolute;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }
    #upperBlock3Icon {
        position: absolute;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }
    #upperBlock4Icon {
        position: absolute;
        top: 5vw;
        left: 7.25vw;
        width: 17.5vw;
        height: 17.5vw;
    }

    #upperBlockText {
        position: absolute;
        top: 22.5vw;
        font-size: 4vw;
        font-weight: 500;
        width: 32vw;
        text-align: center;
        color: var(--gray7);
    }

    #upperBlockTextActivated {
        position: absolute;
        top: 22.5vw;
        font-size: 4vw;
        font-weight: 500;
        width: 32vw;
        text-align: center;
        color: var(--brand6);
    }

    #bottomBlock {
        width: 69vw;
        margin-left: auto;
        margin-right: auto;
    }

    #bottomBlocks {
        float: left;
        position: relative;
        width: 69vw;
        height: 15vw;
        margin-top: 4vw;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s;
    }

    #bottomBlocks:hover {
        background-color: var(--brand1);
    }

    #bottomBlock1Icon {
        position: relative;
        width: 7.5vw;
        height: 7.5vw;
        margin-top: 3.75vw;
        margin-left: 7vw;
    }
    #bottom1SmallText {
        position: absolute;
        margin-left: 17vw;
        margin-top: -8.5vw;
        font-size: 3vw;
        font-weight: 500;
        color: var(--gray3);
    }

    #bottom1Text {
        position: absolute;
        margin-top: -5.25vw;
        margin-left: 17vw;
        font-size: 4.25vw;
        font-weight: 600;
        color: var(--gray6);
    }

    #bottomBlock2Icon {
        position: relative;
        width: 7.5vw;
        height: 7.5vw;
        margin-top: 3.75vw;
        margin-left: 7vw;
    }
    #bottom2SmallText {
        position: absolute;
        margin-left: 17vw;
        margin-top: -8.5vw;
        font-size: 3vw;
        font-weight: 500;
        color: var(--gray3);
    }
    #bottom2Text {
        position: absolute;
        margin-top: -5.25vw;
        margin-left: 17vw;
        font-size: 4.25vw;
        font-weight: 600;
        color: var(--gray6);
    }

    #bFooter {
        position: absolute;
        margin-top: 270vw;
        top: 33vh;
        left: 5vw;
    }

    .footerText {
        font-size: 0.625rem;
        font-weight: 400;
        color: var(--gray3);
    }

    .footerBoldText {
        font-size: 0.625rem;
        font-weight: 500;
        color: var(--gray4);
    }
}