@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --gray1 : #f2f4f8;
    --gray2 : #cad2df;
    --gray3 : #a9b2c0;
    --gray4 : #9098a4;
    --gray5 : #767b83;
    --gray6 : #52565b;
    --gray7 : #303137;

    --brand1 : #D5E5FE;
    --brand2 : #AACBFE;
    --brand3 : #94BEFE;
    --brand4 : #69A4FD;
    --brand5 : #5397FD;
    --brand6 : #297DFC;
}

* {
    margin: 0em;
    padding: 0em;
    max-height: 100%;
    width: auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    position: absolute;
    white-space: nowrap;
    background-color: var(--gray1);
}

::placeholder {
    color: var(--gray3);
}

.draggable {
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -o-user-select: all;
    user-select: all;
}

@media screen and (min-width: 1025px) { /* for desktop and PC */
    #header {
        margin-left: 5vw;
        width: 90vw;
        height: 100px;
    }

    #logo {
        position: fixed;
        margin-top: 50px;
        height: 50px;
    }

    #wrapper {
        width: 100vw;
    }
    
    #title {
        margin-top: 233px;
    }

    .title {
        text-align: center;
        color: var(--gray7);
        font-size: 4rem;
    }

    #originalURL {
        margin-top: 70px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #input {
        width: 800px;
        height: 65px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 30px;
        border: 1px solid var(--gray2);
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #uniqueCode {
        float: left;
    }
    
    #submit {
        margin-left: 20px;
        float: left;
    }
    
    #custom {
        width: 590px;
        height: 62px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 105px;
        border: 1px solid var(--gray2);
    }

    .submit {
        width: 190px;
        height: 62px;
        background-color: var(--brand6);
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        font-size: 1.5rem;
        border: 1px solid var(--gray2);
        cursor : pointer;
    }

    #uniqueCodePlaceholder {
        position: absolute;
        margin-top: 17.5px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 31px;
        color: var(--gray3);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  /* for tablet */
    #header {
        position: relative;
        margin-left: 5vw;
        width: 90vw;
        height: 100px;
    }

    .logo {
        position: absolute;
        bottom: 0px;
        height: 6vw;
        max-height: 50px;
    }

    #wrapper {
        width: 100vw;
    }

    #title {
        margin-top: 22.75vw;
    }

    .title {
        text-align: center;
        color: var(--gray7);
        font-size: 6.25vw;
    }

    #originalURL {
        margin-top: 6.85vw;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #input {
        width: 80vw;
        max-width: 800px;
        height: 10vw;
        max-height: 65px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        text-indent: 30px;
        border: 1px solid var(--gray2);
    }

    #shortenURL {
        margin-top: 20px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #uniqueCode {
        float: left;
    }

    #submit {
        margin-left: 2vw;
        float: left;
    }

    #custom {
        width: 59vw;
        max-width: 590px;
        height: 10vw;
        max-height: 62px;
        background-color: white;
        color: var(--gray7);
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: 400;
        text-indent: 100.5px;
        border: 1px solid var(--gray2);
    }

    .submit {
        width: 19vw;
        max-width: 190px;
        height: 10vw;
        max-height: 62px;
        background-color: var(--brand6);
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        font-size: 1.4rem;
        border: 1px solid var(--gray2);
        cursor : pointer;
    }

    #uniqueCodePlaceholder {
        position: absolute;
        margin-top: 18.25px;
        font-size: 1.4rem;
        font-weight: 400;
        text-indent: 32px;
        color: var(--gray3);
    }
}

@media screen and (max-width: 767px) { /* for mobile */

}